In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [32]:
df = pd.read_csv('green_tripdata_2019-01.csv') #nrows=100

In [33]:
len(df)

630918

In [5]:
df.info(
    verbose=True, 
    null_counts=True
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   lpep_pickup_datetime   100 non-null    object
 2   lpep_dropoff_datetime  100 non-null    object
 3   store_and_fwd_flag     100 non-null    object
 4   RatecodeID             100 non-null    int64
 5   PULocationID           100 non-null    int64
 6   DOLocationID           100 non-null    int64
 7   passenger_count        100 non-null    int64
 8   trip_distance          100 non-null    float64
 9   fare_amount            100 non-null    float64
 10  extra                  100 non-null    float64
 11  mta_tax                100 non-null    float64
 12  tip_amount             100 non-null    float64
 13  tolls_amount           100 non-null    float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  payment_type           100 non-null    int64
 18  trip_type              100 non-null    int64
 19  congestion_surcharge   0 non-null      float64
dtypes: float64(10), int64(7), object(3)
memory usage: 15.8+ KB

/tmp/ipykernel_7079/2612161665.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(verbose=True, null_counts=True)

In [6]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
print(pd.io.sql.get_schema(
    df, 
    name='green_taxi_data', 
    con=engine
))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [34]:
df_iter = pd.read_csv(
    'green_tripdata_2019-01.csv', 
    iterator=True, 
    chunksize=100000
)

In [12]:
df = next(df_iter)

In [13]:
len(df)

100000

In [14]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [16]:
df.info(
    verbose=True, 
    null_counts=True
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   lpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   store_and_fwd_flag     100000 non-null  object
 4   RatecodeID             100000 non-null  int64
 5   PULocationID           100000 non-null  int64
 6   DOLocationID           100000 non-null  int64
 7   passenger_count        100000 non-null  int64
 8   trip_distance          100000 non-null  float64
 9   fare_amount            100000 non-null  float64
 10  extra                  100000 non-null  float64
 11  mta_tax                100000 non-null  float64
 12  tip_amount             100000 non-null  float64
 13  tolls_amount           100000 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  payment_type           100000 non-null  int64
 18  trip_type              100000 non-null  int64
 19  congestion_surcharge   6 non-null       float64
dtypes: datetime64[ns](2), float64(10), int64(7), object(1)
memory usage: 15.3+ MB

/tmp/ipykernel_7079/2612161665.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(verbose=True, null_counts=True)

In [35]:
df.head(n=0).to_sql(
    name='green_taxi_data', 
    con=engine, 
    if_exists='replace'
)

0

In [20]:
from time import time

In [22]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 5.33 s, sys: 161 ms, total: 5.49 s
Wall time: 10.6 s

1000

In [36]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 11.007 second
inserted another chunk, took 10.903 second
inserted another chunk, took 10.897 second
inserted another chunk, took 10.774 second
inserted another chunk, took 11.066 second
inserted another chunk, took 10.945 second
inserted another chunk, took 3.506 second

StopIteration:

In [ ]:
#chatgpt improvement

while True: 
    try:
        t_start = time()

        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        print("All data has been processed.")
        break

In [39]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [40]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [41]:
df_zones.to_sql(
    name='zones', 
    con=engine, 
    if_exists='replace'
)

265